.amll-lyric-player {
  width: 100%;
  max-width: 100%;
  height: 100%;
  color: var(--amll-lp-color, white);
  contain: strict;
  mix-blend-mode: plus-lighter;
  font-size: var(--amll-lp-font-size, max(max(5vh, 2.5vw), 12px));
  overflow: hidden;

  @media screen and (width <= 768px) {
    font-size: var(--amll-lp-font-size, max(8vw, 12px));
  }

  &.dom {
    --amll-lp-line-width-aspect: .8;
    --amll-lp-line-padding-x: 1em;
    --amll-lp-bg-line-scale: .7;
    user-select: none;
    box-sizing: content-box;
    z-index: 1;
    line-height: 1.2;
  }
}

@media screen and (width <= 768px) {
  .amll-lyric-player {
    --amll-lp-line-width-aspect: 1;
    --amll-lp-line-padding-x: 0;
  }
}
.xkZOxW_lyricLine {
  backface-visibility: hidden;
  transform-origin: 0;
  width: var(--amll-lp-width, 100%);
  min-width: var(--amll-lp-width, 100%);
  max-width: var(--amll-lp-width, 100%);
  contain: content;
  will-change: transform;
  box-sizing: border-box;
  border-radius: .25em;
  width: 100%;
  height: fit-content;
  padding: .5em 1em;
  transition: opacity .25s, filter .2s, background-color .25s, box-shadow .25s;
  position: absolute;

  @media screen and (width <= 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.xkZOxW_dirty {
    opacity: 0;
    visibility: hidden;
  }

  &:has( > *):hover {
    background-color: var(--amll-lp-hover-bg-color, #fff1);
  }

  &:has( > *):active {
    background-color: var(--amll-lp-hover-bg-color, #ffffff05);
  }
}

.xkZOxW_lyricBgLine {
  opacity: .0001;
  font-size: max(calc(1em * var(--amll-lp-bg-line-scale, .7)), 10px);
  padding: 1vh
		calc(var(--amll-lp-line-padding-x, 1em) / var(--amll-lp-bg-line-scale, .7));
  transition: opacity .25s, scale .5s, filter .2s, background-color .25s, box-shadow .25s;

  & .xkZOxW_lyricMainLine {
    padding: 1.2em 1em;
  }

  &.xkZOxW_active {
    opacity: .4;
    transition: opacity .5s .25s, scale 1.5s cubic-bezier(0, 1, 0, 1) .25s, filter .2s, background-color .25s, box-shadow .25s;
  }
}

.amll-lyric-player {
  &:hover .xkZOxW_lyricLine {
    filter: unset !important;
  }

  &.xkZOxW_hasDuetLine {
    & .xkZOxW_lyricLine:not(.xkZOxW_lyricDuetLine) {
      padding-right: 15%;
    }

    & .xkZOxW_lyricDuetLine {
      padding-left: 15%;
    }
  }

  &:not(.playing) > .xkZOxW_lyricBgLine {
    opacity: .4;
  }
}

.xkZOxW_lyricDuetLine {
  text-align: right;
  transform-origin: 100%;
}

.xkZOxW_lyricMainLine {
  margin: -1em;
  padding: 1em;
  transition: opacity .3s .1s;

  & span {
    text-align: start;
    vertical-align: bottom;
    display: inline-block;
  }

  & .xkZOxW_romanWord {
    padding-inline-end: .3em;
    font-size: .5em;
    line-height: 1em;
    display: flex;
  }

  & .xkZOxW_rubyWord {
    justify-content: center;
    min-height: 1em;
    font-size: .5em;
    line-height: 1em;
    display: flex;
  }

  & .xkZOxW_wordWithRuby {
    vertical-align: bottom;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
  }

  & .xkZOxW_wordBody {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  & > span, & span.xkZOxW_emphasizeWrapper {
    white-space: pre-wrap;
    will-change: transform;
    vertical-align: bottom;
    margin: -1em;
    padding: 1em;
    display: inline-block;

    &.xkZOxW_emphasize, & span.xkZOxW_emphasize {
      backface-visibility: hidden;
      margin: -1em;
      padding: 1em;

      & > span {
        will-change: transform;
        backface-visibility: hidden;
        margin: -1em;
        padding: 1em;
      }
    }
  }
}

.xkZOxW_lyricSubLine {
  opacity: .3;
  font-size: max(.5em, 10px);
  line-height: 1.5em;
  transition: opacity .2s .25s;
}

.xkZOxW_disableSpring > * {
  transition: filter .25s, transform .5s, background-color .25s, box-shadow .25s;
}

.xkZOxW_interludeDots {
  transform-origin: center;
  opacity: 0;
  gap: .25em;
  width: fit-content;
  height: clamp(.5em, 1vh, 3em);
  padding: 2.5% .75em;
  transition: opacity .25s;
  display: flex;
  position: absolute;
  left: 0;

  &.xkZOxW_enabled {
    opacity: 1;
  }

  & > * {
    aspect-ratio: 1;
    background-color: var(--amll-lp-color, white);
    border-radius: 50%;
    width: clamp(.5em, 1vh, 3em);
    height: clamp(.5em, 1vh, 3em);
    margin-right: 4px;
    display: inline-block;
  }

  &.xkZOxW_duet {
    transform-origin: center;
    right: 0;
  }
}

@supports (mix-blend-mode: plus-lighter) {
  .xkZOxW_lyricSubLine {
    opacity: .3;
  }
}

.xkZOxW_tmpDisableTransition {
  transition: none !important;
}

.xkZOxW_bottomLine {
  cursor: default;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.8em;
}

.xkZOxW_bottomLine:empty {
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
}
