.desc {
	white-space: pre-wrap;
}

.container {
	max-width: 800px;
	margin: auto;
	overflow: hidden;
	min-height: 0;
	height: 100%;
}

.tabButton {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 50px;
	overflow: hidden;
	padding: 0 1rem;
	transition: all 0.2s;

	img,
	svg {
		max-width: 100%;
		max-height: 100%;
		flex-shrink: 0;
		margin-right: 0.75rem;
	}

	@media screen and (max-width: 512px) {
		height: 30px;
		padding: 0 0.5rem;
	}
}

.sidebarDesktop {
	width: 240px;
	flex-shrink: 0;
	overflow-y: auto;
}

.contentArea {
	flex-grow: 1;
	min-width: 0;
	overflow-y: auto;
	min-height: 0;
}

.hamburgerButton {
	display: none;
}

@media (max-width: 600px) {
	.sidebarDesktop {
		display: none;
	}
	.hamburgerButton {
		display: inline-flex;
	}

	.contentArea h1 {
		text-align: center;
	}
}

.dialogContent {
	background-color: var(--gray-1);
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	padding: var(--space-5);
	overflow-y: auto;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.dialogContent:focus {
	outline: none;
}

@keyframes contentShow {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
