<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KMGProductionUpdatePublicEDKey</key>
	<string>$(PRODUCTION_UPDATE_PUBLIC_ED_KEY)</string>
	<key>KMGTestUpdateFallbackFeedURL</key>
	<string>$(TEST_UPDATE_FALLBACK_FEED_URL)</string>
	<key>KMGTestUpdatePrimaryFeedURL</key>
	<string>$(TEST_UPDATE_PRIMARY_FEED_URL)</string>
	<key>KMGTestUpdatePublicEDKey</key>
	<string>$(TEST_UPDATE_PUBLIC_ED_KEY)</string>
	<key>KMGUpdateFallbackFeedURL</key>
	<string>$(UPDATE_FALLBACK_FEED_URL)</string>
	<key>KMGUpdatePrimaryFeedURL</key>
	<string>$(UPDATE_PRIMARY_FEED_URL)</string>
	<key>KMGUpdateReleaseChannel</key>
	<string>$(UPDATE_RELEASE_CHANNEL)</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>$(UPDATE_PRIMARY_FEED_URL)</string>
	<key>SUPublicEDKey</key>
	<string>$(UPDATE_PUBLIC_ED_KEY)</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
